async-generator
attrs
behave
certifi
cffi
charset-normalizer
click
colorama
Flask==2.2
Flask-API
Flask-SQLAlchemy
greenlet
h11
idna
itsdangerous
Jinja2
MarkupSafe
outcome
parse
parse-type
pycparser
PyHamcrest
PySocks
requests
selenium
six
sniffio
sortedcontainers
SQLAlchemy
trio
trio-websocket
urllib3
Werkzeug==2.3
wsproto
